proxy=http://193.56.47.8:8080
https-proxy=http://193.56.47.8:8080
------------------------------
-- Autre proxy
--proxy=http://193.56.47.20:8080/
--https-proxy=http://193.56.47.20:8080
------------------------------
-- Ancien proxy Bull
--proxy=http://ecprox.bull.fr:80/
--https-proxy=http://ecprox.bull.fr:80

