/*style.css*/
/*-------------- NAVBAR ----------*/
.navbar-default{
	background-image : inherit;
	background-color : cornflowerblue;
}

.navbar-default .navbar-nav>.active>a{
	background-image : inherit;
	background-color : aliceblue;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	background-color : aliceblue;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
	color : white;
}

.btnDeco{
	background-color : rgba(255, 0, 0, 0.85);
	color : white;
}

.btnDeco:hover, .btnDeco:focus{
	background-color : red;
	color : white;
}
/*-------------- END NavBar ----------*/

/*-------------- TITLE ----------*/
h2{
	text-align : center;
}
/*-------------- END Title ----------*/

/*-------------- GRID ----------*/
.myGrid{
	text-align : center;
	height : 300px;
	width : 100%;
}

.green{
	background-color : rgba(0, 158, 15, 0.50) !important;
}

.red{
	background-color : rgba(255, 0, 0, 0.50) !important;
}

.orange{
	background-color : rgba(255, 165, 0, 0.50) !important;
}

/*.ag-fresh .ag-body .ag-row-odd{
	background-color : #cccccc;
}*/

.ag-fresh .ag-body .ag-row-selected{
	background-color : #b0e0e6;
	border : 1px solid blue;
}

.hColumnFT {
    background-color : #9fc5f8;
    border-color : #337AB7;
}
  
.hColumnLFT {
    background-color : rgb(255, 229, 153);
    border-color : #f0ad4e;
}
  
.hColumnRep {
    background-color : #b4a7d6;
    border-color : #8375A9;
}

.columnFT {
    background-color : rgba(51, 122, 183, 0.19);
}
  
.columnLFT {
    background-color : rgba(240, 173, 78, 0.19);
}
  
.columnRep {
    background-color : rgba(131, 117, 169, 0.19);
}

.gridDetail{
	height : 150px !important;
	margin-bottom : 2%;
}
/*-------------- END Grid ----------*/

/*-------------- PARTIE DETAIL ----------*/
.divDetail{
	display : flex;
}

.divButton{
	width : 13%;
	margin-left : 2%;
}

.btnDetail{
	margin-bottom : 2%;
	background-color : cornflowerblue;
	color : white;
}

.btnDetail:hover{
	background-color : #9fc5f8;
}
/*-------------- END Detail ----------*/

