<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myAppCtrl">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
	<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
	<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
	<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.1.1/ui-grid.min.js"></script>
	<link rel="styleSheet" href="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.1.1/ui-grid.min.css" />
	
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script src="controller.js"></script>
</head>

<body >
	<br />
	<label class="hpppLbl"><strong>Filter:</strong> </label>
	<input type="text" ng-model="filterOptions.filterText" />
	<br />
	<table width=100%, style="height: 650px;">
		<tr>
			<td width="70%">
				<div class="parameterGrid" ui-grid="parameterGrid"></div>
			</td>
			<td>
				<div class="parameterEditGrid" ui-grid="parameterEditGrid">
					<button type="submit" data-ng-disabled="changes.length <= 0" ng-click="checkChange()">Save</button>
				</div>
			<td>
		</tr>
	</table>
</body>
</html>
